# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

VITE_SUPABASE_URL=https://yczmzgvrmcilgtfakaki.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inljem16Z3ZybWNpbGd0ZmFrYWtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxOTg1MDcsImV4cCI6MjA3Nzc3NDUwN30.sb1TRLWKniE9PtD827IklDyLdct6mXkEA7mUj9_2xWo
VITE_GEMINI_API_KEY=
